name: Test

on:
  push:
    branches: [master]
  pull_request:
    # Check all PR

jobs:
  tests:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        rust-version: ["1.74", stable, beta, nightly]
    steps:
      - uses: actions/checkout@v6
      - name: setup rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust-version }}
      - name: run tests in debug mode
        run: cargo test
      - name: run tests in release mode
        run: cargo test --release
      - name: check that benchmarks still compile
        run: cargo bench --no-run
